@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html, body {
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
}

span {
    position: relative;
    font-size: 16px;
    margin-right: 10px;
    font-weight: bold;
    text-transform: capitalize;
}

span::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #548BF5;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid #5af4f4;
    overflow: hidden;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0%, 10%, 100% {
        width: 0;
    }
    70%, 90% {
        width: 100%;
    }
}

li {
    margin: auto 0;
}

a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

a:hover {
    color: #548BF5;
}

.opening {
    background-color: #548BF5;
    padding: 50px;
    text-align: center;
    color: #fff;
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    margin-top: 10%;
}

.home-text {
    max-width: 50%;
    text-align: left;
    font-size: x-large;
}

.home p {
    font-size: smaller;
}

.home img {
    border-radius: 15px;
    width: 45%;
}

.about {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px 0;
    flex-direction: column;
}

.about h2 {
    background-color: #548BF5;
    text-align: center;
    border-radius: 8px;
    padding: 10px;
    color: white;
}

.about img {
    border-radius: 15px;
    width: 50%;
    margin-top: 50px;
}

.about p {
    font-size: large;
    padding-left: 35px;
    padding-right: 35px;
}

.journey {
    text-align: center;
    padding: 50px;
    background-color: #f5f5f5;
}

.journey h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.journey p {
    max-width: 600px;
    margin: auto;
    font-size: 18px;
}

.slider-frame {
    overflow: hidden;
    height: 400px;
    width: 1200px;
    margin-top: 20px;
}

@keyframes slide_animation {
    0% {left:0px;}
    10% {left:0px;}
    20% {left:1200px;}
    30% {left:1200px;}
    40% {left: 2400px;}
    50% {left: 2400px;}
    60% {left: 1200px;}
    70% {left: 1200px;}
    80% {left: 0px;}
    90% {left: 0px;}
    100% {left:0px;}
}

@-webkit-keyframes slide_animation {
    0% {left:0px;}
    10% {left:0px;}
    20% {left:1200px;}
    30% {left:1200px;}
    40% {left: 2400px;}
    50% {left: 2400px;}
    60% {left: 1200px;}
    70% {left: 1200px;}
    80% {left: 0px;}
    90% {left: 0px;}
    100% {left:0px;}
}

.slide-images {
    width: 3600px;
    height: 800px;
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide_animation;
    animation-name: slide_animation;
    -webkit-animation-duration: 33s;
    animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}

.img-container {
    height: 800px;
    width: 1200px;
    position: relative;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home {
    opacity: 0;
    transform: translateY(100px);
    animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.facts {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px 0;
    flex-direction: column;
    font-size: 18px;
}

.facts h2 {
    background-color: #548BF5;
    text-align: center;
    border-radius: 8px;
    padding: 10px;
    color: white;
}

.facts-list {
    list-style-type: none;
    padding: 0;
    font-size: 18px;
}

.facts-list li {
    margin-bottom: 10px;
}

.jumlah {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 20px;
}

.jumlah-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jumlah-number {
    font-size: 30px;
    font-weight: bold;
    color: #548BF5;
    margin-bottom: -10px;
}

.jumlah-description {
    font-size: 18px;
}

.facts-content {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.facts-content h2:first-of-type {
    padding-left: 40px;
    padding-right: 40px;
}


.facts-content h2 {
    background-color: #548BF5;
    color: white;
    padding: 10px;
    margin: 0;
}

.team {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px 0;
    flex-direction: column;
}

.team h2 {
    background-color: #548BF5;
    text-align: center;
    border-radius: 8px;
    padding: 10px;
    color: white;
}

.team p {
    font-size: 18px;
    margin-bottom: 30px;
}

.team-members {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 200px;
}

.team-member img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.team-member h3 {
    font-size: 18px;
    margin: 10px 0 2px;
}

.team-member p {
    font-size: 18px;
    color: #666;
    margin-top: 2px;
    margin-bottom: 2px;
}

.linkedin-link img {
    width: 35px;
    height: 100%;
    margin-top: 0px;
}

.linkedin-link img:hover {
    opacity: 0.7;
}

.footer {
    display: flex;
    align-items: center;
    background-color: #548BF5;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    flex-direction: column;
}

.footer p {
    font-size: 18px;
    margin-bottom: 30px;
    color: white;
 }

 
@media (max-width: 440px) {
    ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        gap: 20px;
        background-color: #fff;
        padding: 10px 20px;
        border-radius: 10px;
    }

    span {
        position: relative;
        font-size: 25px;
        margin-right: 0px;
        font-weight: bold;
        text-transform: capitalize;
    }
    
    span::before {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        color: #548BF5;
        -webkit-text-stroke: 0vw #383d52;
        border-right: 2px solid #5af4f4;
        overflow: hidden;
        animation: animate 4s linear infinite;
    }

    .home {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;
        margin-top: 10%;
    }

    .home-text {
        max-width: 50%;
        text-align: center;
        font-size: x-large;
    }

    .home img {
        border-radius: 15px;
        width: 100%;
    }

    .about img {
        border-radius: 15px;
        width: 30%;
        margin-top: 50px;
    }

    .slider-frame {
        overflow: hidden;
        height: 300px;
        width: 1200px;
        margin-top: 20px;
    }

    .facts {
        text-align: center;
    }

    .team {
        text-align: center;
    }

    .team-members {
        display: flex;
        flex-direction: column;
    }
}